<h2>Health Checks</h2>

<p>Use <a href="/health" target="_blank">health</a> as a general health check.</p>

<p>More detailed info:</p>

<ul>
    <li><a href="/health/test" target="_blank">Test</a> - a randomised health check that returns healthy, degraded, or unhealthy.</li>
    <li><a href="/health/db" target="_blank">DB</a> - always returns healthy.</li>
</ul>
